<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">大型设备共享平台</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#"> Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{username}}</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" id='main_container'>
  <div class='row'>
    <div class="col-sm-3">
      <div class="panel panel-primary fix_height_container">
        <div class="panel-heading">
          <h3 class="panel-title">部门选择</h3>
        </div>
        <div class="panel-body department_container">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">部门选择</span>
            <input type="text" class="form-control" id="basic-url" ng-model="query_department">
          </div>
          <hr/>
          <div ng-if='!query_department'>
            <ul class='list-group list-group-root'>
              <li class='list-group-item' ng-repeat='dept in departments|filter:{level:0}'>
                <deptmenu dept=dept departments=departments level=0 on-filter='filter(message)'></deptmenu>
              </li>
            </ul>
          </div>
          <div ng-if='query_department'>
            <ul class='list-group list-group-root'>
              <li class='list-group-item' ng-repeat='dept in departments|filter:{dept_name:query_department}'>
                <a ng-click='filter({message:dept.dept_no})'>{{dept.dept_name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="panel panel-default fix_height_container">
        <!-- Default panel contents -->
        <div class="panel-heading">大型设备信息<span ng-if='filter_dept'> - {{filter_dept.dept_name}}</span></div>
        <div class="panel-body">
          <p>共有设备:{{total_devices}}</p>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">设备名称</span>
            <input type="text" class="form-control" id="basic-url" ng-model="query">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" ng-click='getQueryData()'>搜索</button>
            </span>
          </div>
          <hr/>
          <!-- Table -->
          <div class='table_fixed_height' ng-if='query_loading'>
            Loading
          </div>
          <div class='table_fixed_height' ng-if='!query_loading'>
            <table st-table="rowCollection" class="table table-striped table_sf">
              <thead>
                <th>设备代码</th>
                <th>设备名称</th>
                <th>设备分类名称</th>
                <th>型号</th>
                <th>规格</th>
                <th>部门名称</th>
                <th>领用人</th>
                <th>领用人联系电话</th>
                <th>管理人</th>
                <th>存放地点</th>
              </thead>
              <tbody>
                <tr ng-repeat='record in page_cache[currentPage]' ng-click='openModal(record)'>
                  <td>{{record.no}}</td>
                  <td>{{record.name}}</td>
                  <td>{{record.catagory}}</td>
                  <td>{{record.version}}</td>
                  <td>{{record.size}}</td>
                  <td>{{record.department}}</td>
                  <td>{{record.contact}}</td>
                  <td>{{record.phone}}</td>
                  <td>{{record.manager}}</td>
                  <td>{{record.location}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul uib-pagination total-items="total_devices" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="pageChanged()" items-per-page="page_size"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
