::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: rgba(0.96,0.96,0.96,0.2);
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(0.96,0.96,0.96,0.2);
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #2e3238;
}

#main_container {
  padding-top: 60px;
  min-width: 1250px;
  max-width: 1250px;
}

.department_container {
  height: 760px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 12px;
}

.fix_height_container {
  height: 800px;
}

.table_fixed_height {
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.table_sf {
  font-size: 12px;
}

.row .panel {
  width: 100%;
  height: 800px;
}

.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
